server:
  port: 5666
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  application:
    name: soa_пу
  jersey:
    application-path: /api/v1
  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username: s291485
    password: qz6XMfGNKAgNOWkq
  jpa:
    datasource: POSTGRESQL
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 15s
        instance-id: ${spring.application.name}:${random.value}
      config:
        enabled: true
        import-check:
          enabled: false
    compatibility-verifier:
      enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
